
<div class="header">
    <div class="logo">
        <h1>Mega Mall</h1>
    </div>
</div>


<div class="page">
    <h2>IP Information</h2>
    <ul class="list-group">
        <li class="list-group-item">{{ ipInfo.ip }}</li>
        <li class="list-group-item">{{ ipInfo.network }}</li>
        <li class="list-group-item">{{ ipInfo.version }}</li>
        <li class="list-group-item">{{ ipInfo.city }}</li>
        <li class="list-group-item">{{ ipInfo.region }}</li>
        <li class="list-group-item">{{ ipInfo.region_code }}</li>
        <li class="list-group-item">{{ ipInfo.country }}</li>
        <li class="list-group-item">{{ ipInfo.country_name }}</li>
        <li class="list-group-item">{{ ipInfo.country_code }}</li>
        <li class="list-group-item">{{ ipInfo.country_code_iso3 }}</li>
        <li class="list-group-item">{{ ipInfo.country_capital }}</li>
        <li class="list-group-item">{{ ipInfo.country_tld }}</li>
        <li class="list-group-item">{{ ipInfo.continent_code }}</li>
        <li class="list-group-item">{{ ipInfo.in_eu }}</li>
        <li class="list-group-item">{{ ipInfo.postal }}</li>
        <li class="list-group-item">{{ ipInfo.latitude }}</li>
        <li class="list-group-item">{{ ipInfo.longitude }}</li>
        <li class="list-group-item">{{ ipInfo.timezone }}</li>
        <li class="list-group-item">{{ ipInfo.utc_offset }}</li>
        <li class="list-group-item">{{ ipInfo.country_calling_code }}</li>
        <li class="list-group-item">{{ ipInfo.currency }}</li>
        <li class="list-group-item">{{ ipInfo.currency_name }}</li>
        <li class="list-group-item">{{ ipInfo.languages }}</li>
        <li class="list-group-item">{{ ipInfo.country_area }}</li>
        <li class="list-group-item">{{ ipInfo.country_population }}</li>
        <li class="list-group-item">{{ ipInfo.asn }}</li>
        <li class="list-group-item">{{ ipInfo.org }}</li>
    </ul>
</div>
